/* body */
body{
    background-color: rgb(236, 236, 236);
    height: 100%;
}

html{
    background-color: rgb(236, 236, 236);
    height: 100%;
    scroll-behavior: smooth;
}


/* scroll to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}






/* Navbar */
.navbar{
    position: relative;
    z-index: 1;
}
.navbar-brand{
    font-family: 'Bebas Neue';
    font-size: 30px;
}

.tombol{
    text-transform: uppercase;
    border-radius: 40px;
}





/* jumbotron */
.jumbotron {
    background-image: url(../img/2.jpg);
    background-size: cover;
    height: 340px;
    text-align: center;
    position: relative;
}

.jumbotron .container{
    position: relative;
    z-index: 1;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(36, 36, 36,1), rgba(0,0,0,0) );
    position: absolute;
    bottom: 0px;
}

.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 115px;
    font-weight: 200;
    font-size: 25px;
}

.jumbotron .display-4 span{
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}






/* about */
.about {
    background-color: rgb(224, 224, 224);
    margin-top: -32px;
    padding-top: 20px;
}

hr{
    width: 150px;
    border-top: 2px solid #313131;
}

.about .content h4  {
    font-family: 'Noto Sans JP';
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}

.about .content img { 
    margin-top: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

.about .content p {
    text-align: center;
    font-family: 'Raleway';
}







/* Parallax */
.parallax {
    background-image: url(../img/5.jpg);
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:20px ;
    position: relative;
}

.parallax h5, .parallax p{
    color: rgb(226, 226, 226);
    position: relative;
    z-index: 1;
    text-align: center;
}

.parallax h5 {
    font-style: italic;
    font-size: 20px;
    font-weight: 200;
    margin-top: 55px;
    text-shadow: 1px 1px 1px rgba(80, 80, 80, 0.5);
}

.parallax p {
    font-weight: 500;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(80, 80, 80, 0.5);
}

.parallax::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(71, 71, 71);
    opacity: 0.5;
    position: absolute;
    bottom: 0px;
}









/* Gallery */
.gallery{
    padding-top: 20px;
    padding-bottom: 40px;
}

.row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
-ms-flex: 25%; /* IE10 */
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}

/* lightbox */
.gallery .lightbox img {
    width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}





/* reach me */
.contact{
    padding-top: 20px;
    background-color: #00004d;
    color: white;
    padding-bottom: 40px;
    opacity: 0.9;

}

.contact h1 {
    font-family: 'Monofett';
    text-align: center;
    font-size: 60px;
    color: white;
}

.contact h3{
    margin-top: 30px;
    font-weight: 450;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fab:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-500px {
    background: #125688;
    color: white;
}

.contact i{
    margin-right: 15px;
    font-size: 20px;
    
}

.contact .text{
    margin-right: 15px;
    font-size: 20px;
    font-weight: 300 ;
}




/* footer */
footer {
    display: block;
    font-size: small;
    text-align: center;
    padding: 5px;
    background-color: rgb(107, 107, 107);
    color: white;
}

footer p {
    margin-top: 10px;
}


/* DESKTOP VERSION */
@media (min-width: 992px) { 
    /* navbar */
    .navbar-brand{
        font-family: 'Bebas Neue', cursive;
        font-size: 32px;
    }
    
    .navbar-brand, .nav-link{
        color: white !important;
        
    }
    
    .nav-link{
        margin-right: 25px;
        text-transform: uppercase;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 0.7cm;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }


    /* jumbotron */
    .jumbotron{
        margin-top:-75px;
        height: 640px;
        
    }

    .jumbotron .display-4 {
        font-size: 62px;
        margin-top: 200px;
        font-weight: 200;
    }
    

    /* about */
    .about{
        padding-bottom: 40px;
    }
    
    hr{
        width: 250px;
        border-top: 2px solid #313131;
    }

    .about .content img {
        margin-top: 23px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    }

    .about .content h4  {
        font-family: 'Noto Sans JP';
        font-size: 30px;
        text-align: left;
        margin-top: 40px;
    }

    .about .content p {
        text-align: left;
        font-size: 17px;
    }


    /* Parallax */
    .parallax {
        background-image: url(../img/5.jpg);
        height: 400px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax h5 {
        font-style: italic;
        font-size: 27px;
        font-weight: 200;
        margin-top: 160px;
        text-shadow: 1px 1px 1px rgba(80, 80, 80, 0.5);
    }
    
    .parallax p {
        font-size: 22px;
        text-shadow: 1px 1px 1px rgba(80, 80, 80, 0.5);
        font-weight: 500;
    }


    /* contact */
    .contact h1 {
        font-family: 'Monofett';
        text-align: center;
        font-size: 80px;
        color: white;
    }

    /* footer */
    footer {
        display: block;
        font-size: medium;
        text-align: center;
        padding: 8px;
        background-color: rgb(107, 107, 107);
        color: white;
    }
    
 }